*{
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.container{
    width:400px;
    height:400px;
   background-color: black;
    margin-left: 20%;
   padding:60px;
}
p{
    width:280px;
    height:50px;
    background-color: rgb(199, 212, 14);
    color:white;
    text-align: center;
    border-radius: 10px;
    margin-left: 17%;
    padding:5px;
    font-size: xx-large;
}
h1{
    text-align: center;
    text-decoration: underline;
    color:rgb(27, 105, 173)
}
.container2{
    display:flex;
    gap:100px;
    padding:40px;
}
button{
   text-align: center;
   padding:15px;
   border:none;
   font-weight: bold;
   font-size: large;
   color: white;
}
#button1{
background-color: rgb(0, 252, 76);
flex-direction: row;
}
#button2{
    background-color: rgb(255, 0, 0);
    flex-direction: row;
}